.popup
  animation: 3s slidein
  &.popupWithBottomMargin
    pointer-events: none !important
  button
    display: none

.locationMarker
  cursor: pointer
  transform: scale(1)
  animation: 0.2s scaleUp cubic-bezier(0.4, 0, 0.51, 2.43)
  @keyframes scaleUp
    from
      transform: scale(0)
    to
      transform: scale(1)
  button
    display: none
  svg
    animation: ease-in-out 1s pulse
    width: 40px
    height: 40px
    z-index: 1000
    path
      fill: #000


.locationMarkerPopup
  button
    display: none
  background-color: #282c34
  color: white
  margin-bottom: 45px
  padding: 5px 10px
  border-radius: 5px
  h1
    padding: 0
    margin: 0